<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h2>Webcam</h2>
    <div class="webcam-wrapper">
      <video #videoElement autoplay muted playsinline></video>
      <canvas #canvasElement style="display: none"></canvas>
    </div>
    <button (click)="captureImage()">Capture Image</button>
    <div *ngIf="imageDataUrl">
      <h3>Captured Image:</h3>
      <img [src]="imageDataUrl" alt="Captured Image" />
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block">Open</ion-button>
  </ion-toolbar>
</ion-footer>
