<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h2>Webcam</h2>

    <div
      class="relative w-fit h-fit flex justify-center items-center overflow-hidden"
    >
      <!-- Video Element -->
      <video #videoElement autoplay muted playsinline></video>
      <canvas #canvasElement style="display: none"></canvas>
    </div>
    <div *ngIf="imageDataUrl">
      <h3>Captured Image:</h3>
      <img [src]="imageDataUrl" alt="Captured Image" />
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="captureImage()"
      >Capture Image</ion-button
    >
  </ion-toolbar>
</ion-footer>
